.header{	
  background:#f8ca34 !important;
  color:#fff;
  text-orientation: mixed;
  writing-mode: Horizontal-lr;
  fontweight:bold;
  font-size:22px;
  font-weight:bold;
}

:host(:not([theme~="no-row-borders"])) [part="row"]:first-child [part~="header-cell"] {
     background:#fff !important;
     color:#696969 !important;
     font-family: Lato, sans-serif !important;
}