 .vaadin-text-field-container, .vaadin-text-area-container {
	display: flex;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    background-color: #f4f9fe !important;
    width: var(--vaadin-text-field-default-width, 18em);
}

[part="input-field"] {
    border-radius: var(--lumo-border-radius);
    background-color: transparent !important;
    padding: 0 calc(0.375em + var(--lumo-border-radius) / 4 - 1px);
    font-weight: 500;
    line-height: 1;
    position: relative;
    cursor: text;
    box-sizing: border-box;
    border: 2px solid !important;
    border-radius:500px !important;
    width: fit-content;
    display:grid;
}

